<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wish List Form</title>
</head>
<body>
    <form action="../data.txt" method="'POST">
        <label for="name">What is your name?</label>
        <input type="text" name="name" id="name" required>

        <label for="wish list">Wish List:</label>
        <input type="text" name="wish list" id="wish list" required>

        <label for="comments">Additional Comments:</label>
        <input type="text" name="comments" id="comments" required>

        <input type="submit" value="Submit">
    </form>
</body>
</html>